/**
 * Progress Bar
 */
progress {

    -webkit-appearance  : progress-bar;
    box-sizing          : border-box;

    appearance          : none;

    width               : 98%;
    height              : 10px;

    margin              : 0 auto;

    color               : #288edf;
    background          : #454646;
    border-radius       : 3px;

    transition-property : width, color;
    transition-duration : 1s, 3s;
    transition-delay    : 0s, 1s;
}

progress::-webkit-progress-inner-element {
    -webkit-appearance  : inherit;
    box-sizing          : inherit;
    height              : 100%;
    width               : 100%;
}

progress::-webkit-progress-bar {
    background-color    : #454646;
    border              : 1px solid #333434;
    border-radius       : 3px;
    height              : 100%;
    width               : 100%;
    box-sizing          : border-box;
}

progress::-webkit-progress-value {
    background-color    : #288edf;
    height              : 100%;
    box-sizing          : border-box;
    border-radius       : 2px;
}

#progressbar {
    display             : none;

    transition-property : display;
    transition-duration : 1s;
    transition-delay    : 0s;
}
